# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script, you want them not to be deleted
#  before the clean up of the mock environment
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosenv/
.pytest_cache/
.mypy_cache/
.xsrecord/

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Project configuration
.vscode/
.idea/

# Local databases and backups
*.db
*.sqlite3
instance/
logs/
uploads/*
!uploads/.gitkeep
sql/db_dump.*
init_aiven_db.py

